---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style is:global>
  .group\/person.mobile-active img {
    filter: grayscale(0) !important;
    transform: scale(1.05) !important;
  }

  .group\/person.mobile-active a {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
  }
</style>
<BaseLayout
  title="About Us | Do It"
  activePage="About"
  description="The team that knows how to Do It. Learn about our philosophy, mission, and the doers behind Do It."
>
  <section class="relative px-8 max-w-7xl mx-auto pt-36 pb-20">
    <div
      class="absolute -top-20 right-0 w-80 h-80 bg-primary/15 blur-[100px] rounded-full pointer-events-none"
    >
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-12 items-center">
      <div class="lg:col-span-7 z-10 reveal">
        <span
          class="text-[10px] uppercase tracking-[0.2em] font-bold text-accent flex items-center gap-4 mb-6"
        >
          <span class="w-16 h-[2px] bg-primary"></span>
          Execution Without Compromise</span
        >

        <h1
          class="text-5xl md:text-7xl font-extrabold tracking-wide leading-none mb-8 md:w-[80%]"
        >
          The Team That Knows How To
          <span
            class="text-transparent bg-clip-text bg-linear-to-r from-on-secondary-container to-[#4675c0]"
            >Do It</span
          >
        </h1>
        <p
          class="text-on-surface-variant text-xl md:text-2xl max-w-2xl font-light leading-relaxed"
        >
          At Do It, we bridge the gap between vision and reality, We are the
          specialists who prioritize finished products over promises and
          flawless execution over excuses
        </p>
      </div>
    </div>
  </section>

  <!-- <section class="bg-surface-container-low py-32 relative">
    <div class="max-w-7xl mx-auto px-8">
      <div class="flex flex-col md:flex-row gap-16 items-start reveal">
        <div class="md:w-1/3">
          <h2 class="text-4xl font-bold tracking-tight mb-4">
            Our Core Mission
          </h2>
          <div class="w-12 h-1 bg-primary rounded-full"></div>
        </div>
        <div class="md:w-2/3">
          <p
            class="text-3xl md:text-4xl text-on-surface font-light leading-tight mb-12"
          >
            To empower organizations through
            <span class="italic text-on-surface-variant">decisive action</span>
            and resilient technical delivery.
          </p>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
              class="p-8 bg-surface-container-lowest rounded-xl border border-white/5 glass-glow reveal"
            >
              <span
                class="material-symbols-outlined text-accent mb-4 text-4xl"
                style="font-variation-settings: 'FILL' 1">bolt</span
              >
              <h3 class="text-xl font-bold mb-3">Decisive Action</h3>
              <p class="text-on-surface-variant text-sm leading-relaxed">
                We don't over-engineer solutions for the sake of complexity. We
                build what works, fast and effectively.
              </p>
            </div>
            <div
              class="p-8 bg-surface-container-lowest rounded-xl border border-white/5 glass-glow reveal"
            >
              <span
                class="material-symbols-outlined text-accent mb-4 text-4xl"
                style="font-variation-settings: 'FILL' 1">task_alt</span
              >
              <h3 class="text-xl font-bold mb-3">Professional Results</h3>
              <p class="text-on-surface-variant text-sm leading-relaxed">
                Every milestone is met with precision. We deliver high-stakes
                infrastructure that stands the test of time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="py-16 md:py-32 px-8 max-w-7xl mx-auto">
    <div class="text-center mb-20 reveal">
      <h2 class="text-5xl font-extrabold tracking-tighter mb-4">Our Team</h2>
      <p
        class="text-on-surface-variant max-w-xl text-md mx-auto drop-shadow-[0_1px_5px_#1d3c6c]"
      >
        A team of skilled specialists focused on building high-quality digital
        products
      </p>
    </div>
    <div class="grid md:grid-cols-4 gap-6 auto-rows-[300px]">
      <div
        class="order-4 md:order-0 relative group overflow-hidden rounded-2xl bg-surface-container-highest group/person reveal"
      >
        <img
          class="w-full h-full object-cover object-top grayscale group-hover:grayscale-0 group-hover:scale-105 transition-all duration-700"
          src="/Mustafa.png"
          alt="Mustafa Raaid"
        />
        <a
          href="https://cmustafav.pages.dev/"
          target="_blank"
          class="absolute top-2 right-2 bg-accent/80 h-10 w-10 z-1 opacity-0 flex
  group-hover/person:opacity-100 transition-all duration-700 rounded-full group/link items-center text-black justify-center"
        >
          <span class="material-symbols-outlined">public</span>

          <span
            class="absolute top-full mt-2 right-1/2 translate-x-1/2 bg-accent rounded-full
    overflow-hidden flex flex-col items-center
    h-0 opacity-0
    group-hover/link:h-[112px] group-hover/link:opacity-100
    transition-all duration-700 ease-in-out"
          >
            <span
              class="py-3 px-2 flex flex-col items-center text-[10px] font-bold leading-none uppercase tracking-tighter"
            >
              <span>P</span>
              <span>O</span>
              <span>R</span>
              <span>T</span>
              <span>F</span>
              <span>O</span>
              <span>L</span>
              <span>I</span>
              <span>O</span>
            </span>
          </span>
        </a>
        <div
          class="absolute inset-0 bg-linear-to-t from-black/80 via-transparent to-transparent flex flex-col justify-end p-6"
        >
          <h4 class="text-lg font-bold">Mustafa <br /> Raaid</h4>
          <p
            class="text-accent text-[10px] font-bold tracking-widest uppercase"
          >
            Backend Developer
          </p>
        </div>
      </div>

      <div
        class="order-3 md:order-0 relative group overflow-hidden rounded-2xl bg-surface-container-highest group/person reveal"
      >
        <img
          class="w-full h-full object-cover object-top grayscale group-hover:grayscale-0 group-hover:scale-105 transition-all duration-700"
          src="/Youssef.png"
          alt="Youssef Hamed"
        />
        <a
          href="https://youssefhamed.com/"
          target="_blank"
          class="absolute top-2 right-2 bg-accent/80 h-10 w-10 z-1 opacity-0 flex
  group-hover/person:opacity-100 transition-all duration-700 rounded-full group/link items-center text-black justify-center"
        >
          <span class="material-symbols-outlined">public</span>

          <span
            class="absolute top-full mt-2 right-1/2 translate-x-1/2 bg-accent rounded-full
    overflow-hidden flex flex-col items-center
    h-0 opacity-0
    group-hover/link:h-[112px] group-hover/link:opacity-100
    transition-all duration-700 ease-in-out"
          >
            <span
              class="py-3 px-2 flex flex-col items-center text-[10px] font-bold leading-none uppercase tracking-tighter"
            >
              <span>P</span>
              <span>O</span>
              <span>R</span>
              <span>T</span>
              <span>F</span>
              <span>O</span>
              <span>L</span>
              <span>I</span>
              <span>O</span>
            </span>
          </span>
        </a>
        <div
          class="absolute inset-0 bg-linear-to-t from-black/80 via-transparent to-transparent flex flex-col justify-end p-6"
        >
          <h4 class="text-lg font-bold">Youssef <br /> Hamed</h4>
          <p
            class="text-accent text-[10px] font-bold tracking-widest uppercase"
          >
            System Administrator
          </p>
        </div>
      </div>

      <div
        class="order-2 md:order-0 relative group overflow-hidden rounded-2xl bg-surface-container-highest group/person reveal"
      >
        <img
          class="w-full h-full object-cover object-top grayscale group-hover:grayscale-0 group-hover:scale-105 transition-all duration-700"
          src="/Abdelrahman.png"
          alt="Abdelrahman Mohamed"
        />
        <a
          href="https://elbahar.top/"
          target="_blank"
          class="absolute top-2 right-2 bg-accent/80 h-10 w-10 z-1 opacity-0 flex
  group-hover/person:opacity-100 transition-all duration-700 rounded-full group/link items-center text-black justify-center"
        >
          <span class="material-symbols-outlined">public</span>

          <span
            class="absolute top-full mt-2 right-1/2 translate-x-1/2 bg-accent rounded-full
    overflow-hidden flex flex-col items-center
    h-0 opacity-0
    group-hover/link:h-[112px] group-hover/link:opacity-100
    transition-all duration-700 ease-in-out"
          >
            <span
              class="py-3 px-2 flex flex-col items-center text-[10px] font-bold leading-none uppercase tracking-tighter"
            >
              <span>P</span>
              <span>O</span>
              <span>R</span>
              <span>T</span>
              <span>F</span>
              <span>O</span>
              <span>L</span>
              <span>I</span>
              <span>O</span>
            </span>
          </span>
        </a>
        <div
          class="absolute inset-0 bg-linear-to-t from-black/80 via-transparent to-transparent flex flex-col justify-end p-6"
        >
          <h4 class="text-lg font-bold">Abdelrahman <br /> Mohamed</h4>
          <p
            class="text-accent text-[10px] font-bold tracking-widest uppercase"
          >
            Graphic Designer
          </p>
        </div>
      </div>

      <div
        class="order-1 md:order-0 relative group overflow-hidden rounded-2xl bg-surface-container-highest group/person reveal"
      >
        <img
          class="w-full h-full object-cover object-top grayscale group-hover:grayscale-0 group-hover:scale-105 transition-all duration-700"
          src="/Omar.png"
        />
        <a
          href="https://mflab.pp.ua/"
          target="_blank"
          class="absolute top-2 right-2 bg-accent/80 h-10 w-10 z-1 opacity-0 flex
  group-hover/person:opacity-100 transition-all duration-700 rounded-full group/link items-center text-black justify-center"
        >
          <span class="material-symbols-outlined">public</span>

          <span
            class="absolute top-full mt-2 right-1/2 translate-x-1/2 bg-accent rounded-full
    overflow-hidden flex flex-col items-center
    h-0 opacity-0
    group-hover/link:h-[112px] group-hover/link:opacity-100
    transition-all duration-700 ease-in-out"
          >
            <span
              class="py-3 px-2 flex flex-col items-center text-[10px] font-bold leading-none uppercase tracking-tighter"
            >
              <span>P</span>
              <span>O</span>
              <span>R</span>
              <span>T</span>
              <span>F</span>
              <span>O</span>
              <span>L</span>
              <span>I</span>
              <span>O</span>
            </span>
          </span>
        </a>

        <div
          class="absolute inset-0 bg-linear-to-t from-black/80 via-transparent to-transparent flex flex-col justify-end p-8"
        >
          <h4 class="text-lg font-bold">Mohammad-Faez <br /> Saad-Eldeen</h4>
          <p
            class="text-accent text-[10px] font-bold tracking-widest uppercase"
          >
            Frontend Developer
          </p>
        </div>
      </div>

      <div
        class="order-5 h-fit  md:order-0 col-span-1 md:col-start-2 md:col-span-2 bg-surface-container-low rounded-2xl p-10 flex flex-col justify-center border border-white/5 glass-glow reveal"
      >
        <span
          class="material-symbols-outlined text-primary-light text-5xl mb-6"
          style="font-variation-settings: 'FILL' 1">format_quote</span
        >
        <p
          class="text-2xl font-light italic leading-relaxed tracking-widest text-on-surface"
        >
          "We don't just plan, We don't just consult, We Do It, Professionalism
          is measured by the systems that simply work when it matters most"
        </p>
      </div>
    </div>
  </section>

  <section class="pt-40 md:py-32  relative">
    <div class="max-w-7xl mx-auto px-8">
      <h2 class="text-center text-4xl font-bold mb-20 tracking-tight reveal">
        Our Pillars of Professionalism
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
          [
            {
              icon: "done_all",
              title: "Complete Ownership",
              desc: "When we take on a project, we own it to completion, Our commitment means 24/7 technical accountability for everything we ship",
            },
            {
              icon: "speed",
              title: "Execution Velocity",
              desc: "Speed is a feature, We combine expert knowledge with efficient workflows to deliver results at the speed of your business",
            },
            {
              icon: "workspace_premium",
              title: "Engineering Discipline",
              desc: "We maintain the highest standards of professional conduct and technical excellence in every architectural decision",
            },
          ].map((item) => (
            <div class="p-10 rounded-2xl bg-surface-variant/40 backdrop-blur-2xl border border-white/5 glass-glow flex flex-col gap-6 hover:bg-surface-variant/60 transition-all group reveal">
              <div class="w-16 h-16 rounded-2xl bg-linear-to-br from-primary to-primary-light flex items-center justify-center shadow-[0_8px_20px_rgba(26,58,107,0.3)]">
                <span class="material-symbols-outlined text-on-primary text-3xl">
                  {item.icon}
                </span>
              </div>
              <h3 class="text-2xl font-bold">{item.title}</h3>
              <p class="text-on-surface-variant leading-relaxed">{item.desc}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto px-8 py-20">
    <div
      class="relative rounded-[2.5rem] overflow-hidden p-16 md:p-24 flex flex-col items-center text-center reveal"
    >
      <div class="absolute inset-0 bg-linear-to-b bg-surface/55 glass-glow">
      </div>

      <div class="relative z-10">
        <h2
          class=" text-4xl md:text-7xl font-black tracking-tighter mb-8 leading-none"
        >
          Ready to Do It?
        </h2>
        <p class="text-on-surface-variant text-ms md:text-xl mb-12 max-w-2xl mx-auto">
          Join the organizations that trust Do It with their most critical
          digital execution and infrastructure needs
        </p>
        <div class="flex justify-center items-center gap-6 flex-col sm:flex-row">
          <a
            href="/contact"
            class="md:px-14 px-7 py-2 md:py-5 text-on-primary font-bold rounded-full active:scale-95 shadow-lg shadow-primary/20
          bg-linear-to-r from-primary via-primary-light to-primary
          bg-size-[200%_auto] hover:bg-right border border-white/20
          transition-all duration-700 ease-in-out"
          >
            Start Project
          </a>
          <a
            href="/portfolio"
            class="px-3 md:px-8  md:py-5 py-3 bg-surface-container-highest/60 backdrop-blur-xl border border-white/10 text-white md:font-bold font-bold rounded-full hover:bg-white/3 active:scale-95 transition-all"
          >
            Our Track Record
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  function setupTeamCardsTouch() {
    const personCards = document.querySelectorAll(".group\\/person");
    personCards.forEach((card) => {
      card.addEventListener("click", (e) => {
        const isTouch = window.matchMedia("(pointer: coarse)").matches;
        if (isTouch) {
          if (!card.classList.contains("mobile-active")) {
            e.preventDefault();
            e.stopPropagation();
            personCards.forEach((c) => c.classList.remove("mobile-active"));
            card.classList.add("mobile-active");
          }
        }
      });
    });
    document.addEventListener("click", (e) => {
      const target = e.target as Element;
      if (!target.closest(".group\\/person")) {
        personCards.forEach((c) => c.classList.remove("mobile-active"));
      }
    });
  }
  setupTeamCardsTouch();
  document.addEventListener("astro:after-swap", setupTeamCardsTouch);
</script>
