---
const footerLinks = [
  { name: "Home", href: "/" },
  { name: "Services", href: "/services" },
  { name: "Portfolio", href: "/portfolio" },
  { name: "About", href: "/about" },
  { name: "Contact", href: "/contact" },
];
---

<footer
  class="bg-surface-container-lowest border-t border-white/5 w-full relative overflow-hidden"
>
  <div
    class="bg-linear-to-r from-transparent via-primary/30 to-transparent h-px"
  >
  </div>

  <div class="max-w-7xl mx-auto px-8 py-16">
    <div class="flex justify-between flex-wrap-reverse md:flex-nowrap gap-16  items-start">
      <div class="w-full">
        <div
          class="text-2xl font-black text-blue-800 uppercase tracking-tighter mb-3"
        >
          Do It
        </div>
        <p
          class="text-on-surface-variant text-sm leading-relaxed mb-6 max-w-xs"
        >
          Precision engineering for the digital age, We don't just plan — we Do
          It
        </p>
        <div
          class="text-[10px] uppercase tracking-[0.3em] font-bold text-[#ddd]"
        >
          © {new Date().getFullYear()}
          <span class="text-blue-500">DO IT</span> ALL RIGHTS RESERVED
        </div>
      </div>

      <div class="flex gap-12 justify-between items-start md:w-full flex-wrap">
        <div class="">
          <h4
            class="text-[10px] uppercase tracking-[0.3em] font-black text-accent mb-5"
          >
            Navigation
          </h4>
          <div class="flex flex-col gap-3">
            {
              footerLinks.map((link) => (
                <a
                  href={link.href}
                  class="text-xs uppercase tracking-widest text-neutral-500 hover:text-white transition-colors font-semibold"
                >
                  {link.name}
                </a>
              ))
            }
          </div>
        </div>

        <div class="">
          <h4
            class="text-[10px] uppercase tracking-[0.3em] font-black text-accent mb-5"
          >
            Legal
          </h4>
          <div class="flex flex-col gap-3">
            <a
              href="#"
              class="text-xs uppercase tracking-widest text-neutral-500 hover:text-white transition-colors font-semibold"
              >Privacy Policy</a
            >
            <a
              href="#"
              class="text-xs uppercase tracking-widest text-neutral-500 hover:text-white transition-colors font-semibold"
              >Terms of Service</a
            >
            <a
              href="#"
              class="text-xs uppercase tracking-widest text-neutral-500 hover:text-white transition-colors font-semibold"
              >Security</a
            >
          </div>
        </div>

        <div class="flex justify-center items-start flex-col">
          <h4
            class="text-[10px] uppercase tracking-[0.3em] font-black text-accent mb-5"
          >
            Connect
          </h4>
          <div class="flex flex-col justify-center items-start gap-3">
            <a
              href="mailto:contact@mflab.pp.ua"
              class="text-xs text-neutral-500 hover:text-white transition-colors font-semibold group/icon flex justify-center items-center gap-3"
            >
              <span
                class="material-symbols-outlined group-hover/icon:text-red-900 transition-all duration-500"
              >
                mail
              </span>
              Gamil
            </a>
            <a
              href="mailto:contact@mflab.pp.ua"
              class="text-xs text-neutral-500 group/icon transition-colors font-semibold flex justify-center items-center gap-3"
            >
              <i
                class="fa-brands fa-facebook text-neutral-500 text-xl pl-[0.15rem] group-hover/icon:text-blue-950 transition-all duration-500"
              ></i>
              Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
