---

---

<div
  id="global-space-bg"
  class="fixed inset-0 z-0 bg-linear-to-b from-[#020408] to-[#091528] overflow-hidden pointer-events-none group"
  style="--mouse-x: 50vw; --mouse-y: 50vh;"
>
  <div class="absolute inset-0 opacity-70 stars-layer-1"></div>
  <div class="absolute inset-0 opacity-40 stars-layer-2"></div>
  <div class="absolute inset-0 opacity-80 stars-layer-3"></div>
  <div class="shooting-star" style="top: 10%; right: 10%; animation-delay: 0s;">
  </div>
  <div class="shooting-star" style="top: 25%; right: 30%; animation-delay: 6s;">
  </div>
  <div
    class="shooting-star"
    style="top: 15%; right: 70%; animation-delay: 13s;"
  >
  </div>
  <div
    class="shooting-star"
    style="top: 40%; right: 40%; animation-delay: 20s;"
  >
  </div>
  <div class="shooting-star" style="top: 55%; right: 15%; animation-delay: 3s;">
  </div>
  <div class="shooting-star" style="top: 5%; right: 45%; animation-delay: 10s;">
  </div>
  <div
    class="shooting-star"
    style="top: 30%; right: 80%; animation-delay: 17s;"
  >
  </div>
  <div class="shooting-star" style="top: 20%; right: 5%; animation-delay: 12s;">
  </div>
  <div class="shooting-star" style="top: 50%; right: 60%; animation-delay: 9s;">
  </div>
  <div class="shooting-star" style="top: 65%; right: 25%; animation-delay: 4s;">
  </div>
  <div class="shooting-star" style="top: 50%; right: 90%; animation-delay: 4s;">
  </div>
  <div
    id="cursor-glow"
    class="absolute hidden lg:block lg:w-[200px] lg:h-[200px] rounded-full bg-linear-to-br from-primary/30 via-accent/15 to-transparent blur-[70px] mix-blend-screen -translate-x-1/2 -translate-y-1/2 transition-opacity duration-1000 opacity-100 z-0"
    style="left: var(--mouse-x); top: var(--mouse-y); transition-property: opacity, left, top; transition-duration: 50ms, 50ms, 50ms; transition-timing-function: ease-out;"
  >
  </div>
  <div
    id="cursor-dot"
    class="absolute hidden lg:block w-1.5 h-1.5 rounded-full bg-white shadow-[0_0_20px_2px_rgba(255,255,255,0.9),0_0_30px_5px_rgba(74,144,217,0.6)] -translate-x-1/2 -translate-y-1/2 transition-opacity duration-100 opacity-100 z-50"
    style="left: var(--mouse-x); top: var(--mouse-y); transition-property: opacity, left, top; transition-duration: 100ms, 11ms, 1ms;"
  >
  </div>
</div>

<style is:inline>
  .stars-layer-1 {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20400%20400%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M206.63%20133.97%20Q206.63%20135.97%20208.63%20135.97%20Q206.63%20135.97%20206.63%20137.97%20Q206.63%20135.97%20204.63%20135.97%20Q206.63%20135.97%20206.63%20133.97%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M370.14%20393.76%20Q370.14%20395.76%20372.14%20395.76%20Q370.14%20395.76%20370.14%20397.76%20Q370.14%20395.76%20368.14%20395.76%20Q370.14%20395.76%20370.14%20393.76%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M82.82%20177.96%20Q82.82%20179.96%2084.82%20179.96%20Q82.82%20179.96%2082.82%20181.96%20Q82.82%20179.96%2080.82%20179.96%20Q82.82%20179.96%2082.82%20177.96%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M181.36%20197.87%20Q181.36%20199.87%20183.36%20199.87%20Q181.36%20199.87%20181.36%20201.87%20Q181.36%20199.87%20179.36%20199.87%20Q181.36%20199.87%20181.36%20197.87%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M262.84%202.2300000000000004%20Q262.84%204.23%20264.84%204.23%20Q262.84%204.23%20262.84%206.23%20Q262.84%204.23%20260.84%204.23%20Q262.84%204.23%20262.84%202.2300000000000004%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M58.32%20294.89%20Q58.32%20296.89%2060.32%20296.89%20Q58.32%20296.89%2058.32%20298.89%20Q58.32%20296.89%2056.32%20296.89%20Q58.32%20296.89%2058.32%20294.89%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M240.99%20130.43%20Q240.99%20132.43%20242.99%20132.43%20Q240.99%20132.43%20240.99%20134.43%20Q240.99%20132.43%20238.99%20132.43%20Q240.99%20132.43%20240.99%20130.43%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M31.61%20121%20Q31.61%20123%2033.61%20123%20Q31.61%20123%2031.61%20125%20Q31.61%20123%2029.61%20123%20Q31.61%20123%2031.61%20121%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M186.4%20204.8%20Q186.4%20206.8%20188.4%20206.8%20Q186.4%20206.8%20186.4%20208.8%20Q186.4%20206.8%20184.4%20206.8%20Q186.4%20206.8%20186.4%20204.8%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M328.11%20385.59%20Q328.11%20387.59%20330.11%20387.59%20Q328.11%20387.59%20328.11%20389.59%20Q328.11%20387.59%20326.11%20387.59%20Q328.11%20387.59%20328.11%20385.59%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M139.98%20230.49%20Q139.98%20232.49%20141.98%20232.49%20Q139.98%20232.49%20139.98%20234.49%20Q139.98%20232.49%20137.98%20232.49%20Q139.98%20232.49%20139.98%20230.49%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M331.39%20162.77%20Q331.39%20164.77%20333.39%20164.77%20Q331.39%20164.77%20331.39%20166.77%20Q331.39%20164.77%20329.39%20164.77%20Q331.39%20164.77%20331.39%20162.77%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M160.02%20122.3%20Q160.02%20124.3%20162.02%20124.3%20Q160.02%20124.3%20160.02%20126.3%20Q160.02%20124.3%20158.02%20124.3%20Q160.02%20124.3%20160.02%20122.3%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M387.77%20283.77%20Q387.77%20285.77%20389.77%20285.77%20Q387.77%20285.77%20387.77%20287.77%20Q387.77%20285.77%20385.77%20285.77%20Q387.77%20285.77%20387.77%20283.77%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M222.08%2040.77%20Q222.08%2042.77%20224.08%2042.77%20Q222.08%2042.77%20222.08%2044.77%20Q222.08%2042.77%20220.08%2042.77%20Q222.08%2042.77%20222.08%2040.77%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M108.79%20113.46%20Q108.79%20115.46%20110.79%20115.46%20Q108.79%20115.46%20108.79%20117.46%20Q108.79%20115.46%20106.79%20115.46%20Q108.79%20115.46%20108.79%20113.46%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M68.57%20210.92%20Q68.57%20212.92%2070.57%20212.92%20Q68.57%20212.92%2068.57%20214.92%20Q68.57%20212.92%2066.57%20212.92%20Q68.57%20212.92%2068.57%20210.92%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M143.96%20161.24%20Q143.96%20163.24%20145.96%20163.24%20Q143.96%20163.24%20143.96%20165.24%20Q143.96%20163.24%20141.96%20163.24%20Q143.96%20163.24%20143.96%20161.24%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M185.18%2077.78%20Q185.18%2079.78%20187.18%2079.78%20Q185.18%2079.78%20185.18%2081.78%20Q185.18%2079.78%20183.18%2079.78%20Q185.18%2079.78%20185.18%2077.78%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M27.19%2093.13%20Q27.19%2095.13%2029.19%2095.13%20Q27.19%2095.13%2027.19%2097.13%20Q27.19%2095.13%2025.19%2095.13%20Q27.19%2095.13%2027.19%2093.13%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M71.69%2076.38%20Q71.69%2078.38%2073.69%2078.38%20Q71.69%2078.38%2071.69%2080.38%20Q71.69%2078.38%2069.69%2078.38%20Q71.69%2078.38%2071.69%2076.38%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M49.61%20261.36%20Q49.61%20263.36%2051.61%20263.36%20Q49.61%20263.36%2049.61%20265.36%20Q49.61%20263.36%2047.61%20263.36%20Q49.61%20263.36%2049.61%20261.36%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M142.88%2087.89%20Q142.88%2089.89%20144.88%2089.89%20Q142.88%2089.89%20142.88%2091.89%20Q142.88%2089.89%20140.88%2089.89%20Q142.88%2089.89%20142.88%2087.89%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M222.96%20116.85%20Q222.96%20118.85%20224.96%20118.85%20Q222.96%20118.85%20222.96%20120.85%20Q222.96%20118.85%20220.96%20118.85%20Q222.96%20118.85%20222.96%20116.85%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M377.07%2069.92%20Q377.07%2071.92%20379.07%2071.92%20Q377.07%2071.92%20377.07%2073.92%20Q377.07%2071.92%20375.07%2071.92%20Q377.07%2071.92%20377.07%2069.92%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M329.33%20298.65%20Q329.33%20300.65%20331.33%20300.65%20Q329.33%20300.65%20329.33%20302.65%20Q329.33%20300.65%20327.33%20300.65%20Q329.33%20300.65%20329.33%20298.65%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M271.11%20287.84%20Q271.11%20289.84%20273.11%20289.84%20Q271.11%20289.84%20271.11%20291.84%20Q271.11%20289.84%20269.11%20289.84%20Q271.11%20289.84%20271.11%20287.84%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M306.35%20332.1%20Q306.35%20334.1%20308.35%20334.1%20Q306.35%20334.1%20306.35%20336.1%20Q306.35%20334.1%20304.35%20334.1%20Q306.35%20334.1%20306.35%20332.1%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M55.12%20340.15%20Q55.12%20342.15%2057.12%20342.15%20Q55.12%20342.15%2055.12%20344.15%20Q55.12%20342.15%2053.12%20342.15%20Q55.12%20342.15%2055.12%20340.15%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M108.42%20293.45%20Q108.42%20295.45%20110.42%20295.45%20Q108.42%20295.45%20108.42%20297.45%20Q108.42%20295.45%20106.42%20295.45%20Q108.42%20295.45%20108.42%20293.45%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
    background-size: 400px 400px;
    animation: drift-1 80s linear infinite;
  }
  .stars-layer-2 {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20600%20600%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M509.45%20383.23%20Q509.45%20386.23%20512.45%20386.23%20Q509.45%20386.23%20509.45%20389.23%20Q509.45%20386.23%20506.45%20386.23%20Q509.45%20386.23%20509.45%20383.23%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M411.07%2022.12%20Q411.07%2025.12%20414.07%2025.12%20Q411.07%2025.12%20411.07%2028.12%20Q411.07%2025.12%20408.07%2025.12%20Q411.07%2025.12%20411.07%2022.12%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M158.49%20415.56%20Q158.49%20418.56%20161.49%20418.56%20Q158.49%20418.56%20158.49%20421.56%20Q158.49%20418.56%20155.49%20418.56%20Q158.49%20418.56%20158.49%20415.56%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M116.87%20220.62%20Q116.87%20223.62%20119.87%20223.62%20Q116.87%20223.62%20116.87%20226.62%20Q116.87%20223.62%20113.87%20223.62%20Q116.87%20223.62%20116.87%20220.62%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M564.56%20254.44%20Q564.56%20257.44%20567.56%20257.44%20Q564.56%20257.44%20564.56%20260.44%20Q564.56%20257.44%20561.56%20257.44%20Q564.56%20257.44%20564.56%20254.44%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M28.78%20218.12%20Q28.78%20221.12%2031.78%20221.12%20Q28.78%20221.12%2028.78%20224.12%20Q28.78%20221.12%2025.78%20221.12%20Q28.78%20221.12%2028.78%20218.12%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M591.96%20420.88%20Q591.96%20423.88%20594.96%20423.88%20Q591.96%20423.88%20591.96%20426.88%20Q591.96%20423.88%20588.96%20423.88%20Q591.96%20423.88%20591.96%20420.88%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M429.31%20184.64%20Q429.31%20187.64%20432.31%20187.64%20Q429.31%20187.64%20429.31%20190.64%20Q429.31%20187.64%20426.31%20187.64%20Q429.31%20187.64%20429.31%20184.64%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M35.77%20253.88%20Q35.77%20256.88%2038.77%20256.88%20Q35.77%20256.88%2035.77%20259.88%20Q35.77%20256.88%2032.77%20256.88%20Q35.77%20256.88%2035.77%20253.88%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M481.72%20581.36%20Q481.72%20584.36%20484.72%20584.36%20Q481.72%20584.36%20481.72%20587.36%20Q481.72%20584.36%20478.72%20584.36%20Q481.72%20584.36%20481.72%20581.36%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M184.43%20198.17%20Q184.43%20201.17%20187.43%20201.17%20Q184.43%20201.17%20184.43%20204.17%20Q184.43%20201.17%20181.43%20201.17%20Q184.43%20201.17%20184.43%20198.17%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M403.36%20178.76%20Q403.36%20181.76%20406.36%20181.76%20Q403.36%20181.76%20403.36%20184.76%20Q403.36%20181.76%20400.36%20181.76%20Q403.36%20181.76%20403.36%20178.76%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M227.86%20229.68%20Q227.86%20232.68%20230.86%20232.68%20Q227.86%20232.68%20227.86%20235.68%20Q227.86%20232.68%20224.86%20232.68%20Q227.86%20232.68%20227.86%20229.68%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M134.12%2035.77%20Q134.12%2038.77%20137.12%2038.77%20Q134.12%2038.77%20134.12%2041.77%20Q134.12%2038.77%20131.12%2038.77%20Q134.12%2038.77%20134.12%2035.77%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M506.63%20539.85%20Q506.63%20542.85%20509.63%20542.85%20Q506.63%20542.85%20506.63%20545.85%20Q506.63%20542.85%20503.63%20542.85%20Q506.63%20542.85%20506.63%20539.85%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M560.1%20387.44%20Q560.1%20390.44%20563.1%20390.44%20Q560.1%20390.44%20560.1%20393.44%20Q560.1%20390.44%20557.1%20390.44%20Q560.1%20390.44%20560.1%20387.44%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M332%20398.4%20Q332%20401.4%20335%20401.4%20Q332%20401.4%20332%20404.4%20Q332%20401.4%20329%20401.4%20Q332%20401.4%20332%20398.4%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M129.25%20586.45%20Q129.25%20589.45%20132.25%20589.45%20Q129.25%20589.45%20129.25%20592.45%20Q129.25%20589.45%20126.25%20589.45%20Q129.25%20589.45%20129.25%20586.45%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M205.01%20303.57%20Q205.01%20306.57%20208.01%20306.57%20Q205.01%20306.57%20205.01%20309.57%20Q205.01%20306.57%20202.01%20306.57%20Q205.01%20306.57%20205.01%20303.57%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%27M144.62%2037.61%20Q144.62%2040.61%20147.62%2040.61%20Q144.62%2040.61%20144.62%2043.61%20Q144.62%2040.61%20141.62%2040.61%20Q144.62%2040.61%20144.62%2037.61%20Z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
    background-size: 600px 600px;
    animation: drift-2 120s linear infinite;
  }
  .stars-layer-3 {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20800%20800%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M13.4%20165.93%20Q13.4%20170.93%2018.4%20170.93%20Q13.4%20170.93%2013.4%20175.93%20Q13.4%20170.93%208.4%20170.93%20Q13.4%20170.93%2013.4%20165.93%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M37.36%2066.13%20Q37.36%2071.13%2042.36%2071.13%20Q37.36%2071.13%2037.36%2076.13%20Q37.36%2071.13%2032.36%2071.13%20Q37.36%2071.13%2037.36%2066.13%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M761.79%20120.23%20Q761.79%20125.23%20766.79%20125.23%20Q761.79%20125.23%20761.79%20130.23000000000002%20Q761.79%20125.23%20756.79%20125.23%20Q761.79%20125.23%20761.79%20120.23%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M17.17%20687.33%20Q17.17%20692.33%2022.17%20692.33%20Q17.17%20692.33%2017.17%20697.33%20Q17.17%20692.33%2012.170000000000002%20692.33%20Q17.17%20692.33%2017.17%20687.33%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M632.13%20704.2%20Q632.13%20709.2%20637.13%20709.2%20Q632.13%20709.2%20632.13%20714.2%20Q632.13%20709.2%20627.13%20709.2%20Q632.13%20709.2%20632.13%20704.2%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M438.26%20677.4%20Q438.26%20682.4%20443.26%20682.4%20Q438.26%20682.4%20438.26%20687.4%20Q438.26%20682.4%20433.26%20682.4%20Q438.26%20682.4%20438.26%20677.4%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M665.12%20762.19%20Q665.12%20767.19%20670.12%20767.19%20Q665.12%20767.19%20665.12%20772.19%20Q665.12%20767.19%20660.12%20767.19%20Q665.12%20767.19%20665.12%20762.19%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M483.29%20710.16%20Q483.29%20715.16%20488.29%20715.16%20Q483.29%20715.16%20483.29%20720.16%20Q483.29%20715.16%20478.29%20715.16%20Q483.29%20715.16%20483.29%20710.16%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M90.13%20266.09%20Q90.13%20271.09%2095.13%20271.09%20Q90.13%20271.09%2090.13%20276.09%20Q90.13%20271.09%2085.13%20271.09%20Q90.13%20271.09%2090.13%20266.09%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3Cpath%20d%3D%27M271.67%20224.18%20Q271.67%20229.18%20276.67%20229.18%20Q271.67%20229.18%20271.67%20234.18%20Q271.67%20229.18%20266.67%20229.18%20Q271.67%20229.18%20271.67%20224.18%20Z%27%20fill%3D%27%234a90d9%27%2F%3E%3C%2Fsvg%3E");
    background-size: 800px 800px;
    animation: drift-3 180s linear infinite;
  }

  @keyframes drift-1 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 400px 800px;
    }
  }
  @keyframes drift-2 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 600px 1200px;
    }
  }
  @keyframes drift-3 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 800px 1600px;
    }
  }

  .shooting-star {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow:
      0 0 0 1px rgba(255, 255, 255, 0.1),
      0 0 8px 1px rgba(255, 255, 255, 0.8);
    animation: meteor 25s linear infinite;
    opacity: 0;
    transform: rotate(-45deg);
  }
  .shooting-star::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg, white, transparent);
  }
  @keyframes meteor {
    0% {
      opacity: 0;
      transform: scale(0) rotate(-45deg) translate(0, 0);
    }
    3% {
      opacity: 1;
      transform: scale(1) rotate(-45deg) translate(-20px, 0);
    }
    15% {
      opacity: 0;
      transform: scale(0.5) rotate(-45deg) translate(-400px, 0);
    }
    100% {
      opacity: 0;
      transform: scale(0) rotate(-45deg) translate(-400px, 0);
    }
  }
</style>

<script>
  // Astro component scoped script runs once when the component renders
  document.addEventListener("DOMContentLoaded", () => {
    const globalBg = document.getElementById("global-space-bg");
    if (globalBg) {
      document.addEventListener("mousemove", (e) => {
        globalBg.style.setProperty("--mouse-x", `${e.clientX}px`);
        globalBg.style.setProperty("--mouse-y", `${e.clientY}px`);
      });
    }
  });
</script>
